{% extends 'share/base_share.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 text-center">
        <h2>Download Our App</h2>
        <p>Get our app from the Play Store or Apple Store</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="https://play.google.com/store" target="_blank" class="btn btn-dark">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi7cJMBtsyJ_NCRSEdOJiZxooS8mC2zxe_7A&s" alt="Play Store" class="me-2" width="30" height="30">
                Google Play
            </a>
            <a href="https://www.apple.com/app-store/" target="_blank" class="btn btn-dark">
                <img src="https://static.vecteezy.com/system/resources/previews/021/496/242/non_2x/app-store-apple-phone-symbol-logo-icon-black-design-illustration-free-vector.jpg" alt="Apple Store" class="me-2" width="30" height="30">
                App Store
            </a>
        </div>
    </div>
{% endblock %}
