{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
    Player
{% endblock %}
{% block content %}

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Delete Player</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        {% if message %}
                        <div id="alertMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>  
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>                         
                          </div> 
                          <script>                            
                            setTimeout(function() {
                                document.getElementById('alertMessage').style.display = 'none';
                            }, 5000);
                        </script>                          
                          {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid row justify-content-center align-items-center">
        <div class="card col-6 p-5">
            <div class="text-center">
            <h4>Do you want to delete player "{{ player.player_full_name }}"?</h4>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger text-white font-weight-bold mt-4">Yes</button>
                <a href="{% url "dashboard:player_list_" %}" class="btn btn-secondary mt-4">No</a>
            </form>
        </div>            
        </div>
    </div>
    
{% endblock %}