{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_css %}
    <style>
        .pagination .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }
        .pagination .page-item .page-link {
            color: #007bff;
        }
        .pagination .page-item.disabled .page-link {
            color: #6c757d;
        }
        .btn-group .btn {
            margin-right: 5px;
        }
    </style>
{% endblock %}

{% block page_title %}
    Player
{% endblock %}

{% block content %}
<div class="page-breadcrumb p-4">
    <form method="GET" action="">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center m-2">
                <h4 class="page-title">User List{{page_length}}</h4>
                <select class="form-control ml-3" name="page_length" style="width: 120px;" onchange="this.form.submit()">
                    <option value="20" {% if page_length == "20" %}selected{% endif %}>20</option>
                    <option value="60" {% if page_length == "60" %}selected{% endif %}>60</option>
                    <option value="100" {% if page_length == "100" %}selected{% endif %}>100</option>
                    <option value="200" {% if page_length == "200" %}selected{% endif %}>200</option>
                </select>
            </div>

            <div class="form-opt d-flex align-items-center flex-wrap gap-3">
                <select class="form-control" name="select_plan" style="width: 180px;">
                    {% if select_plan %}
                        <option value="" selected>........</option>
                        <option value="Free Version" {% if select_plan == "Free Version" %}selected{% endif %}>Free</option>
                        <option value="Paid Version" {% if select_plan == "Paid Version" %}selected{% endif %}>Paid with upgrade</option>
                        <option value="Pro Version" {% if select_plan == "Pro Version" %}selected{% endif %}>Pro</option>
                        <option value="Enterprise Version" {% if select_plan == "Enterprise Version" %}selected{% endif %}>Enterprise</option>
                    {% else %}
                        <option value="" selected>Select Plan</option>
                        <option value="Free Version">Free</option>
                        <option value="Paid Version">Paid with upgrade</option>
                        <option value="Pro Version">Pro</option>
                        <option value="Enterprise Version">Enterprise</option>
                    {% endif %}
                </select>
                <input type="text" id="location_input" name="location" class="form-control" placeholder="Search By Location..." style="width: 250px;" value="{{ request.GET.location }}"> 
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfBo6-cZlOpKGrD1ZYwISIGjYvhH_wPmk&libraries=places"></script>
                <script>
                    function initialize() {
                        var input = document.getElementById('location_input');
                        var autocomplete = new google.maps.places.Autocomplete(input);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <div class="search-tab d-flex align-items-center">
                    <input type="text" name="search_text" class="form-control" placeholder="Search Player..." 
                        value="{% if search_text %}{{ search_text }}{% endif %}" style="width: 200px;">
                    <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
                </div>
                
                <a href="/admin/create_player_/" class="btn btn-primary font-weight-bold">Add User</a>
            </div>
        </div>
    </form>
</div>

<div class="mb-5">
    
    <div class="row" id="userList">
        {% for item in player_list %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4" style="--order: {{ forloop.counter0 }}; cursor: pointer;" onclick="window.location='{% url 'dashboard:player_view' item.id %}'">
            <div class="card user-card border shadow-sm m-0">
                <div class="card-image d-flex align-items-center p-3">
                    {% if item.image_url %}
                        {% if item.image_url == "null" %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQADjfoADAlJPrsl_hiiOMeE-FBor-i6hEAVg&s" alt="{{ item.first_name }} {{item.last_name}}" class="user-img rounded-circle me-3" width="50" height="50">
                        {% else %}
                            <img src="{{ item.image_url }}" alt="{{ item.first_name }} {{item.last_name}}" class="user-img rounded-circle me-3" width="50" height="50">
                        {% endif %}
                        
                    {% else %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQADjfoADAlJPrsl_hiiOMeE-FBor-i6hEAVg&s" alt="{{ item.first_name }} {{item.last_name}}" class="user-img rounded-circle me-3" width="50" height="50">
                    {% endif %}
                    <div class="card-body p-0 pl-3">
                        <h5 class="card-title mb-2">{{ item.first_name }} {{item.last_name}}</h5>
                        <p class="card-text font-weight-bold mb-1">Location: 
                            <span class="font-weight-normal">
                                {% if item.city and item.country %}
                                    {{ item.city }}, {{ item.country }}
                                {% elif item.city %}
                                    {{ item.city }}
                                {% elif item.country %}
                                    {{ item.country }}
                                {% else %}
                                    Unknown Location
                                {% endif %}                                
                            </span>
                        </p>
                        <p class="card-text font-weight-bold mb-1">Rank: <span class="badge bg-primary text-white font-weight-normal px-2">{{ item.rank }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        
            <div class="d-flex justify-content-center align-items-center text-center w-100" style="height: 300px;">
    {% include 'dashboard/not_found.html' %}
</div>
        
        {% endfor %}
    </div>
    <!-- Custom Pagination Controls -->
    {% if player_list.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if player_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ player_list.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% for p in page_range %}
                    {% if p == "..." %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% else %}
                        <li class="page-item {% if player_list.number == p %}active{% endif %}">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if player_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ player_list.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ player_list.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
    
{% endblock %}
