{% load static %}
<style>
    /* Logout Modal Styles */
    .modal1 {
        display: none; /* Hide modal by default */
        position: fixed;
        z-index: 9999; /* Ensure it's above other content */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 20px;
        width: 500px; /* Adjust width as needed */
        height:180px;
    }

    .modal-content-1 {
        text-align: center;
    }

    .btns {
        margin-top: 20px;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

 <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar fixed-top top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/admin/">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon 
                            <img src="{% static 'images/logo-icon.png' %}" alt="homepage" class="light-logo" />
                           -->
                           <h4>PICKLEit Admin</h4>
                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        {% comment %} <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="{% static 'images/logo-text.png' %}" alt="homepage" class="light-logo" />
                            
                        </span> {% endcomment %}
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <img src="{% static 'images/logo-text.png' %}" alt="homepage" class="light-logo" /> -->
                            
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
               
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                                               
                    </ul>
                   
                    <ul class="navbar-nav float-right">                       
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% if request.user.image %}{{request.user.image.url}}{% endif %}" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="{% url "dashboard:admin_profile" %}"><i class="mdi mdi-account m-r-5 m-l-5"style="font-size: 20px;"></i> View Profile</a>
                                <a class="dropdown-item" href="/pickleit-admin-main/" target="_blank"><i class="mdi mdi-account-settings-variant m-r-5 m-l-5"style="font-size: 20px;"></i> Admin Console</a>
                                <a id="logoutLink" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt m-r-5 m-l-5"></i> Logout</a>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="logoutModal" class="modal modal1" width="100">
            <div class="modal-content modal-content-1">
              <h3>Do you want to logout?</h3>
              <div class="modal-buttons btns">
                <button id="confirmLogout" class="btn-danger">Yes</button>
                <button id="cancelLogout" class="btn-dark">No</button>
              </div>
            </div>
          </div>

        <script>
            document.getElementById('logoutLink').addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default action of the link
        
                // Show the logout confirmation modal
                document.getElementById('logoutModal').style.display = 'block';
            });
            var logoutModal = document.getElementById('logoutModal');

            // Get the confirm logout button
            var confirmLogoutBtn = document.getElementById('confirmLogout');
        
            // Get the cancel logout button
            var cancelLogoutBtn = document.getElementById('cancelLogout');
        
            // When the user clicks the confirm logout button
            confirmLogoutBtn.addEventListener('click', function() {
                // Perform logout action
                window.location.href = "{% url 'dashboard:logout' %}";
            });
        
            // When the user clicks the cancel logout button
            cancelLogoutBtn.addEventListener('click', function() {
                // Close the logout modal
                logoutModal.style.display = 'none';
            });
            
        </script>
        